.dash-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid transparent;
}

.dash-card:hover {
  border-color: #8aff14;
  transform: translateY(-3px);
}
